<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <h1>Tidsregistrering</h1>
    <p>Få en let og sikker løsning, der hjælper dig med at registre din arbejdstid som ansat i kirken.</p>
    <p>TID er et skræddersyet tidsregistreringssystem til ansatte i kirken, der sikrer, at du og dine kollegaer nemt kan registrere timer, ferie-fridage, sygdom og andet fravær.</p>

    <button type="button" onclick="window.open('https://dkm.dk/loesninger-til-kirker/tidsregistrering/', '_blank')" class="btn-inside-widget">Læs mere om TID</button>

</f:section>

</html>
