<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">
    <f:if condition="{site}">
        <h3 class="mt-0 mb-3">{options.{state}.header}</h3>
        <f:if condition="{options.{state}.description}">
            <p>{options.{state}.description -> f:format.raw()}</p>
        </f:if>
        <f:if condition="{options.{state}.descriptionList -> f:count()}">
            <ul class="ps-3">
                <f:for each="{options.{state}.descriptionList}" as="item">
                    <li>{item -> f:format.raw()}</li>
                </f:for>
                <f:for each="{options.subfeatures}" as="subfeature">
                    <f:if condition="{subfeature.{subfeature.state}.description}">
                        <li>{subfeature.{subfeature.state}.description}</li>
                    </f:if>
                </f:for>
            </ul>
        </f:if>
    </f:if>
</f:section>
<f:section name="footer">
    <f:if condition="{site}">
        <f:variable name="key_title">LLL:EXT:dashboard_shared/Resources/Private/Language/FeatureWidget.xlf:ajax.toggle.{actionType}.success.title</f:variable>
        <f:variable name="key_success">LLL:EXT:dashboard_shared/Resources/Private/Language/FeatureWidget.xlf:ajax.toggle.{actionType}.success.text</f:variable>
        <f:variable name="key_submitbutton">LLL:EXT:dashboard_shared/Resources/Private/Language/FeatureWidget.xlf:ajax.toggle.{actionType}.submit.button</f:variable>
        <form data-dashboardshared-featuretoggleandinitialize
              data-notification-http-error="{f:translate(key:'LLL:EXT:matomo_widgets/Resources/Private/Language/Dashboard.xlf:widgets.createAnnotation.notification.httpError')}"
              data-notification-unknown-error="{f:translate(key:'LLL:EXT:matomo_widgets/Resources/Private/Language/Dashboard.xlf:widgets.createAnnotation.notification.unknownError')}"
              class="row-cols-1"
        >
            <input type="hidden" name="widget_identifier" value="{configuration.identifier}" />


            <f:if condition="{state} == 'enabled'">
                <f:for each="{options.subfeatures}" as="subfeature">
                    <button class="btn widget-cta btn-warning mb-2" type="submit" value="{subfeature.identifier}"
                            data-notification-title="{subfeature.{subfeature.state}.success_title}"
                            data-notification-success="{subfeature.{subfeature.state}.success}">
                        {subfeature.{subfeature.state}.button}
                    </button>
                </f:for>
            </f:if>



            <button class="btn widget-cta btn-warning" type="submit" value=""
                    data-notification-title="{f:translate(key:key_title)}"
                    data-notification-success="{f:translate(key:key_success)}">
                {f:translate(key:key_submitbutton)}
            </button>
        </form>
    </f:if>
</f:section>
</html>