<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <f:if condition="{items.new}">
        <h1><f:translate extensionName="dashboard_shared" key="widgets.sysNews.new"/></h1>
        <f:for each="{items.new}" as="item">
            <div class="Connection-{item.connectionName}"><h3>{item.conditionName}{item.header}</h3><p>{item.content -> f:format.raw()}
                <div class="text-muted">
                <f:format.date format="{f:translate(key:'LLL:EXT:dashboard_shared/Resources/Private/Language/locallang.xlf:widgets.sysNews.date')}" date="{item.crdate}" />
                </div></p></div>
        </f:for>
        <br/>
    </f:if>

    <f:if condition="{items.old}">
        <h1><f:translate extensionName="dashboard_shared" key="widgets.sysNews.prev_shown"/></h1>
        <f:for each="{items.old}" as="item">
            <div class="Connection-{item.connectionName}"><h3>{item.conditionName}{item.header}</h3><p>{item.content -> f:format.raw()}<div class="text-muted">
                <f:format.date format="{f:translate(key:'LLL:EXT:dashboard_shared/Resources/Private/Language/locallang.xlf:widgets.sysNews.date')}" date="{item.crdate}" />
            </div></p></div>
        </f:for>
    </f:if>


</f:section>
<f:section name="footer">
    <f:render partial="Widget/Button" arguments="{button: button}"/>
</f:section>
</html>
