<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:asset.css identifier="widgetProducts">
    .enhanced {
        font-weight: bold;
    }
    </f:asset.css>
<f:layout name="Widget/Widget" />
<f:section name="main">

<h1 class="header">Vi kan også hjælpe dig med...</h1>

<h2 class="product__subheader">Vidste du, at vi også kan hjælpe dig med en række andre ting, som du måske allerede har i kirken, men hvor du kan spare tid, penge og ressourcer? Vi kan bl.a. hjælpe dig med:</h2>

<div class="product__links">

<div class="group-header">Tilkøb til Hjemmesiden</div>
    
<a class="product__link" target="_blank" href="https://dkm.dk/loesninger-til-kirker/skaermloesning/" title="Integreret skærmløsning" aria-label="Integreret skærmløsning">
    <div class="product__link__content">
        <h3>Integreret skærmløsning</h3>
        <p>Skærm, der hænger ved kirken eller sognehuset, som er integreret med hjemmesidesystemet</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<a class="product__link" target="_blank" href="https://dkm.dk/kirkehjemmeside/statistikfunktion-til-hjemmesiden/" title="3S-Besøgsstatistik" aria-label="3S-Besøgsstatistik">
    <div class="product__link__content">
        <h3>3S-Besøgsstatistik</h3>
        <p>En statistikfunktion du kan finde herinde, hvor du kan se hvor mange besøgende du har på hjemmesiden og hvilke sider der er mest besøgte</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<a class="product__link" target="_blank" href="https://dkm.dk/loesninger-til-kirker/design/" title="Webdesign" aria-label="Webdesign">
    <div class="product__link__content">
        <h3>Webdesign</h3>
        <p>Professionelt og langtidsholdbart webdesign, som kan være med til at løfte udtrykket for din kirkes hjemmeside</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<a class="product__link" target="_blank" href="https://dkm.dk/loesninger-til-kirker/webtilgaengelighed/" title="Webtilgængelighed" aria-label="Webtilgængelighed">
    <div class="product__link__content">
        <h3>Webtilgængelighed</h3>
        <p>Her kan vi fx hjælpe dig med at optimere alt indholdet på din hjemmeside, så det lever op til alle kravene, eller vi kan hjælpe dig med at udfylde den lovpligtige tilgængelighedserklæring</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<a class="product__link" target="_blank" href="https://dkm.dk/kontakt/support-og-manualer/#c279" title="Klippekort" aria-label="Klippekort">
    <div class="product__link__content">
        <h3>Klippekort</h3>
        <p>Med et klippekort ved os kan du fx få hjælp til, at vi lægger indhold på din hjemmeside i stedet for dig, eller det kan også bruges til grafiske småopgaver ved behov</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<div class="group-header">Kalendersystem til kirker</div>

<a class="product__link" target="_blank" href="https://dkm.dk/loesninger-til-kirker/kalendersystem/" title="Medarbeideren kalendersystem" aria-label="Medarbeideren kalendersystem">
    <div class="product__link__content">
        <h3>Medarbeideren kalendersystem</h3>
        <p>Kalendersystem til kirker, der gør det nemt at holde overblik over alle begivenheder</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<div class="group-header">Tilkøb til Medarbeideren</div>

<a class="product__link" target="_blank" href="https://dkm.dk/loesninger-til-kirker/kalender-og-kirkehjemmeside/varmestyring/" title="Varmestyring" aria-label="Varmestyring">
    <div class="product__link__content">
        <h3>Varmestyring</h3>
        <p>Styring af varmen i kirkens lokaler automatisk gennem kalendersystemet Medarbeideren</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<a class="product__link" target="_blank" href="https://dkm.dk/gudstjenesteplanlaegger/" title="GudstjenestePlanlægger" aria-label="GudstjenestePlanlægger">
    <div class="product__link__content">
        <h3>GudstjenestePlanlægger</h3>
        <p>Et værktøj til Medarbideren, der effektivt og overskueligt kan hjælpe dig med at planlægge alt det praktiske omkring kommende gudstjenester</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<a class="product__link" target="_blank" href="https://dkm.dk/loesninger-til-kirker/kalender-og-kirkehjemmeside/credo/" title="Credo" aria-label="Credo">
    <div class="product__link__content">
        <h3>Credo - Frivillig App</h3>
        <p>App for personale og frivillige i kirken, der gør det let at bytte tjenester/opgaver med hinanden</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<div class="group-header">Tidsregistrering</div>

<a class="product__link" target="_blank" href="https://dkm.dk/loesninger-til-kirker/tidsregistrering/" title="TID" aria-label="TID">
    <div class="product__link__content">
        <h3>TID</h3>
        <p>Få en let og sikker løsning, der hjælper dig med at registre din arbejdstid som ansat i kirken.</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FF816C" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" style="background-color: #FF816C; border-radius: 50%; stroke: white;">
        <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</a>

<f:render partial="Footer" />

</div>
</f:section>