<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="sections">
        <section class="main">
            <h1>Har du brug for hjælp?</h1>
            <p>Husk du har gratis og fri support med i dit abonnement hos os. Det betyder, at du altid kan ringe til os på <strong>87 40 37 03</strong> eller sende en mail til <a href="mailto:support@dkm.dk">support@dkm.dk</a>, hvis du har brug for hjælp til din hjemmeside, kalendersystem eller har andre spørgsmål.</p>
            <p>Vi er klar til at hjælpe dig på telefonen mellem kl. 10-15 mandag til torsdag og kl. 10-14 fredag.</p>
            <p>Du kan også finde <a target="_blank" href="https://dkm.zendesk.com/hc/da" class="linkAsButton widget__link">videoguides, artikler og manualer</a> på vores hjemmeside.</p>

            <div class="employees">
                <div class="employee">
                    <div class="employee-image" style="background: url(<f:uri.image src='EXT:dashboard_shared/Resources/Public/Images/cassøe.jpeg' />) lightgray 50% / cover no-repeat;"></div>
                    <div class="employee-info">
                        <span class="employee-name">Christian Cassøe</span>
                        <span class="employee-title">IT-support</span>
                    </div>
                </div>    
                <div class="employee">
                    <div class="employee-image" style="background: url(<f:uri.image src='EXT:dashboard_shared/Resources/Public/Images/lukas.jpeg' />) lightgray 50% / cover no-repeat;"></div>
                    <div class="employee-info">
                        <span class="employee-name">Lukas Jensen</span>
                        <span class="employee-title">IT-support</span>
                    </div>
                </div>    
            </div>
        </section>

        <section class="footer">
            <f:render partial="Footer" />
        </section>
    </div>

</f:section>

</html>
