<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="module" data-module-name="dashboard">
    <div class="module-body t3js-module-body">
        <div class="dashboard-header">
            <h1 class="visually-hidden">
                <f:translate
                    key="LLL:EXT:dashboard/Resources/Private/Language/locallang.xlf:dashboard.headline"
                    arguments="{
                        0: '{currentDashboard.title}'
                    }"
                />
            </h1>
            <div class="dashboard-header-container">
                <div class="dashboard-tabs">
                    <ul class="dashboard-tabs-menu" role="menubar">
                        <f:for each="{availableDashboards}" as="dashboard" key="dashboardKey">
                            <li class="dashboard-tabs-menuitem" role="menuitem">
                                <f:be.link
                                    route="dashboard"
                                    parameters="{action: 'setActiveDashboard', currentDashboard: dashboardKey}"
                                    class="dashboard-tab {f:if(condition: '{dashboardKey} == {currentDashboard.identifier}', then: 'dashboard-tab--active')}"
                                >
                                    {dashboard.title}
                                </f:be.link>
                            </li>
                        </f:for>
                    </ul>
                    <a
                        href="{addDashboardUri}"
                        class="js-dashboard-modal dashboard-button dashboard-button-tab-add"
                        title="{f:translate(key: 'dashboard.add', extensionName: 'dashboard')}"
                        data-modal-identifier="add"
                        data-modal-title="{f:translate(key: 'dashboard.add', extensionName: 'dashboard')}"
                        data-button-close-text="{f:translate(key: 'dashboard.add.button.close', extensionName: 'dashboard')}"
                        data-button-ok-text="{f:translate(key: 'dashboard.add.button.ok', extensionName: 'dashboard')}"
                        role="button"
                    >
                        <core:icon identifier="actions-plus" alternativeMarkupIdentifier="inline" /><span class="visually-hidden"><f:translate key="dashboard.add" extensionName="dashboard"/></span>
                    </a>
                </div>

                <div class="dashboard-configuration btn-toolbar" role="toolbar">
                    <f:comment>CONDITION ADDED - f:be.security.ifHasRole - A backend group with the title DashboardAdmin is dynamically added to the user which is configured as dashboard admin</f:comment>
                    <f:be.security.ifHasRole role="DashboardAdmin"><div class="badge" style="background-color:red; font-size: 15px;">Dashboard Admin</div></f:be.security.ifHasRole>
                    <a
                        href="{configureDashboardUri}"
                        class="js-dashboard-modal btn btn-default btn-sm"
                        data-modal-identifier="configure"
                        title="{f:translate(key: 'dashboard.configure', extensionName: 'dashboard')}"
                        data-modal-title="{f:translate(key: 'dashboard.configure', extensionName: 'dashboard')}"
                        data-button-close-text="{f:translate(key: 'dashboard.configure.button.close', extensionName: 'dashboard')}"
                        data-button-ok-text="{f:translate(key: 'dashboard.configure.button.ok', extensionName: 'dashboard')}"
                        role="button"
                    >
                        <core:icon identifier="actions-cog" alternativeMarkupIdentifier="inline" /><span class="visually-hidden"><f:translate key="dashboard.configure" extensionName="dashboard"/></span>
                    </a>
                    <a
                        href="{deleteDashboardUri}"
                        class="js-dashboard-delete btn btn-default btn-sm"
                        title="{f:translate(key: 'dashboard.delete', extensionName: 'dashboard')}"
                        data-modal-title="{f:translate(key: 'dashboard.delete', extensionName: 'dashboard')}"
                        data-modal-question="{f:translate(key: 'dashboard.delete.sure', extensionName: 'dashboard')}"
                        data-modal-ok="{f:translate(key: 'dashboard.delete.ok', extensionName: 'dashboard')}"
                        data-modal-cancel="{f:translate(key: 'dashboard.delete.cancel', extensionName: 'dashboard')}"
                        role="button"
                    >
                        <core:icon identifier="actions-delete" alternativeMarkupIdentifier="inline" /><span class="visually-hidden"><f:translate key="dashboard.delete" extensionName="dashboard"/></span>
                    </a>
                </div>
            </div>
        </div>
        <f:render section="Content" arguments="{_all}" />
    </div>
</div>

</html>
