button.btn-inside-widget {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 32px 0 0 0;

    border-radius: 16px;
    border: 1px solid #FFF;
    background: var(--button-background, #21AD66);

    color: var(--buttn-foreground, #FFFFFF);
    font-family: var(--body, "Open Sans");
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button.btn-inside-widget:hover {
    background: var(--button-background-hover, #1E9E5A);
}