.product__links {
    /* Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    font-family: "Open Sans", sans-serif;
}

.product__link {
    /* Layout */
    display: flex;
    padding: 16px 20px;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    flex: 1 1 100%;
    justify-content: space-between;
    gap: 2rem;

    /* Style */
    border-radius: 16px;
    background: #E6E6E6;
    color: #333333; /* Add a simple color for text */

    /* Add some colors for background and hover */
    background: #F5F5F5;

    transition: all 0.3s;
}

.product__link svg {
    flex-shrink: 0;
    transition: all 0.3s;
}

.product__link:hover svg {
    transform: translateX(5px);
}

.product__link__content {
    display: flex;
    flex-direction: column;
}

.product__link:hover {
    background: #EAEAEA;
    text-decoration: none;
}

.product__link h3 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 4px 0;
    color: #222222; /* Add a simple color for heading */
}

.product__link p {
    font-size: 12px;
    margin: 0;
    color: #555555; /* Add a simple color for paragraph */
}

.product__subheader {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    max-width: 85%;
    line-height: 1.25;
    color: #444444; /* Add a simple color for subheader */
    font-family: "Open Sans", sans-serif;
}

.group-header {
    color: var(--title, #2B5F6A);
    font-family: var(--title, Nunito);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}