.employees {
    display: flex;
    padding: 12px 20px;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
}

.employee {
    display: flex;
    align-items: center;
    gap: 20px;
}

.employee-image {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.employee-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.employee-name {
    color: var(--green, #21AD66);
    font-family: var(--title, Nunito);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.employee-title {
    color: var(--Text, #000);
    font-family: var(--title, Nunito);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.widget__link {
    font-weight: 700;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}